.NavItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}
.NavItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
    background-color: rgb(161, 94, 63);
    border-bottom: 4px solid rgb(38, 185, 211);
    color: white;
}
.NavItem a:hover {
    background-color: rgb(233, 154, 6);
    border-bottom: 4px solid rgb(38, 185, 211);
    color: white;
}